<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <a href="/users/editprofile"><img src="/img/atras.png" alt="imagen para retroceder"></a>

                    <figure>
                        <img id="img_title" src="/img/text.png" alt="Imagen de titulo">
                    </figure>

                    <form class="editpassword" method="POST" action="/users/changepassword">
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="rpassword" placeholder="Repit Password" required>
                        <button>Save</button>
                    </form>

                </main>
                <%- include('templates/footer.ejs') %>