<%- include('templates/header.ejs') %>
<main>
    <a href="/users/editprofile"><img src="/img/atras.png" alt="imagen para retroceder"></a>

    <figure>
        <img id="img_title" src="/img/text.png" alt="Imagen de titulo">
    </figure>

    <div class="edit">
       <input type="file" name="fname" id="fname_file">
       <button>Save</button>
    </div>
    
</main>
<%- include('templates/footer.ejs') %>