<%- include('templates/header.ejs') %>
    <main>
        <a href="/users/editprofile"><img src="/img/atras.png" alt="imagen para retroceder"></a>

        <figure>
            <img id="img_title" src="/img/text.png" alt="Imagen de titulo">
        </figure>

        <form class="edit" method="POST" action="/users/changeimage" enctype="multipart/form-data">
            <input type="file" name="fname" id="fname" required>
            <button>Save</button>
        </form>

    </main>
    <%- include('templates/footer.ejs') %>