<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <form action="/users/forgotpassword" method="post">
                        <input type="text" name="email" placeholder="Enter email" required>
                        <button>Entrar</button>
                    </form>
                </main>
                <%- include('templates/footer.ejs') %>