<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>

                <main>

                    <figure>
                        <img id="img_title_forgot" src="/img/text.png" alt="Imagen de titulo">
                    </figure>


                    <form action="/users/forgotpassword" method="post">
                        <input type="email" name="email" placeholder="Enter email" required>
                        <button>Send</button>
                    </form>
                </main>

             