<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>

                    <figure>
                        <img id="img_title" src="img/text.png" alt="Imagen de publicación">
                        
                    </figure> 
                    <figure>
                        
                        <img src="..//img/logo5.png" alt="Logo de Rivas Roller">
                    </figure>

                   
                    <form action="/users/signin" method="post">
                        <input type="text" name="username" placeholder="User" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button>Entrar</button>
                    </form>
                    <div class="alternative">

                    
                        <button onclick="window.location.href='/users/google'"><img src="../img/google.png"></button>
                        
                    </div>
                </main>
                <%- include('templates/footer.ejs') %>