<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <form action="/users/forgotpassword" method="post">
                        <button>Post</button>
                    </form>
                </main>
                <%- include('templates/footer.ejs') %>