<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <form action="/main/post" method="post" enctype="multipart/form-data">
                        <input type="file" name="fname" id="fname_file">
                        <input type="title" name="title" id="title" placeholder="Enter title">
                        <button>Post</button>
                    </form>
                </main>
                <%- include('templates/footer.ejs') %>