<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                </main>
                <%- include('templates/footer.ejs') %>