<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <form action="/users/recoverypassword/<%= rtoken %>" method="post">
                        <input type="password" name="password" placeholder="Enter password" required>
                        <button>Save</button>
                    </form>
                </main>
               