<%- include('templates/header.ejs') %>
    <% if(typeof(error) != "undefined"){ %>
        <%= error %>
            <% } %>
                <main>
                    <form action="/users/signup" method="post">
                        <input type="text" name="username" placeholder="Enter user" required>
                        <input type="email" name="email" placeholder="Enter email" required>
                        <input type="tel" name="phone" placeholder="Enter phone" required>
                        <input type="password" name="password" placeholder="Enter password" required>
                        <button>Sign Up</button>
                    </form>
                </main>
                <%- include('templates/footer.ejs') %>