<div id="footer">
    <a href="/main/profile/me"><img src="img/perfil.png" alt="logo de usuario"></a>
    <a href="/main/post"><img src="img/mas.png" alt="logo para ver los post"></a>
    <a href="/users/tools"><img src="img/herramienta.png" alt="logo de herramientas"></a>
    
    
</div>
</main>
</body>


<script src="https://kit.fontawesome.com/dbfb5c2c17.js" crossorigin="anonymous"></script>

</html>

