@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
   
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    height: 600px;
    width: 76%;
    padding: 6px 5%;
    padding-bottom: 28px;
    margin-right: 0px auto;
    margin-top: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 3px 5px 41px 11px rgba(20, 11, 12, 0.63);
    box-shadow: 3px 5px 41px 11px rgba(20, 11, 12, 0.63);
}

main::-webkit-scrollbar {
    -webkit-appearance: none;
}


main #img_title {
    width: 230px;
    margin-top: 70px;
    margin-bottom: -10px;
}

main a img {
    width: 45px;
    margin-top: 5px;
}

#form_post {
    margin-top: 90px;
}

#img_title_signup {
    width: 222px;
    margin-top: 35px;
    margin-bottom: 46px;
}

#img_title_forgot {
    width: 222px;
    margin-top: 55px;
    margin-bottom: 124px;
}

#titulo {
    font-family: Helvetica;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 66%;
    font-size: 1em;
    margin: 9px;
    padding: 5px;
    border: none;
    outline: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fcfbfb;
}

form input[type="text"] {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form input[type="password"] {
    background-image: url(../img/password.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form input[type="email"] {
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form input[type="tel"] {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#text_center {
    text-align: center;
    margin-top: 0px;
}

#button_center {
    display: block;
    margin: 0 auto;
    width: 98px;
}

main input {
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin: 9px;
    margin-top: 20px;
    margin-bottom: 27px;
    padding: 5px;
    border: none;
    outline: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fcfbfb;
}

.publish {
    text-align: center;
    margin: 0;
}

.publish input[type="search"] {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.user_profile #img_avatar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 25px;
}

.content_publish #img_user {
    width: 153%;
    height: 140%;
    margin-top: -25px;
}

.content_publish .user_profile {
    display: flex;
    margin: 0px;
}

.content_publish .user_profile img {
    margin: 10px;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
}

.img_avatar {
    width: 90px;
    height: 60px;
}

.content_publish #img_user {
    width: 100%;
    height: 154%;
    margin-top: -20px;
}

.publish_text_more_like {
    padding: -4px;
}

.publish_text_all_comments {
    margin: 0px;
    margin-top: -13px;
}

.time_publish {
    margin-top: -10px;
}

#name_app {
    margin-top: -35px;
}

.like_and_coment {
    line-height: 15px;
}

.like_and_coment span {
    margin: 10px;
}

#fa-solid {
    margin: 100px;
}

#fname_file {
    border: none;
}

#fname_file input[type="title"] {
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form button {
    background-color: #2c8FE8;
    border: none;
    border-radius: 19px;
    color: white;
    margin: 10px;
    width: 100px;
}

button {
    background-color: #2c8FE8;
    border: none;
    border-radius: 19px;
    color: white;
    margin: 10px;
    height: 29px;
    font-size: 14px;
}

.alternative {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternative button {
    background: none;
}

.alternative img {
    width: 40px;
    height: 37px;
    align-items: center;
}

main figure {
    display: flex;
    justify-content: center;
}

#name_app {
    margin-top: -45px;
    text-align: center;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    width: 30%;
}

.post img {
    width: 100%;
    height: 75px;
}

.red {
    color: red;
}

#footer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    margin-top: -61px;
}

#footer {
    background-color: #16AFF1;
    width: 79.5%;
    height: 61px;
}

#footer img {
    margin: 10px;
    padding: 20px;
    line-height: 10px;
    margin: 0px;
    width: 30px;
}

#tools {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.info {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.info img {
    width: 50px;
    margin: 12px;
    margin-top: 7px;
}

.red {
    color: red;
}

.modal_contenido {
    background-color: #5DADE2;
    width: 76%;
    padding: 10px 20px;
    margin: 20px auto;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal_contenido .new_comment {
    margin-top: auto;
}

.modal_contenido .new_comment input {
    width: 100%;
    margin: 10px auto;
    padding: 0;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.modal_show {
    opacity: 1;
    pointer-events: auto;
    transition: all 1s;
}

.comment_div {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment_main {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    flex: 1;
}

.modal a {
    text-decoration: none;
    margin: 10px;
}

#comment_title_img{
    width: 30px;
}


#comment_title_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    padding: 10px;
}



.main_top img{
    width: 30px;
}

.main_top span, .main_bot span{
margin-left: 10px;
font-size: 0.9em;
}

.main_top,
.main_bot {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.editpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.editpassword button {
    width: 120px;
}

#comments_container {
    overflow-y: scroll;
}

#comments_container::-webkit-scrollbar {
    -webkit-appearance: none;
}

@media screen and (min-width:900px){

    main{
        height: 80vh;
    }
    .content_publish #img_user {
        width: 70%;
        
    }


    .content_publish #img_user{
        width: 30%;
    }

    .post img {
        width: 50%;
        height: 75px;
    }
    
}